@charset "UTF-8";

html {
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif !important;
    margin-bottom:100px;
}

/* Header style */
.header {
    width: 100%;
    height: 600px;
    background-size:100% auto;
}

.title{
	color: #fff;
	padding-top:100px;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 4px #666;    
}

/* Closing style */

section {
    text-align: center;  
    padding-bottom: 60px;
}

h1 {
    font-family: bold 1.9em 'Rubik', sans-serif !important;
}


/* Select style */
.styled-select {
   	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   	height: 29px;
   	overflow: hidden;
   	width: 240px;
    margin-top: 80px;
    margin-left: 40%;
    padding-bottom: 5px;
}

.black { background-color: #FD8907; }

.styled-select select {
  	background: transparent;
  	border: none;
   	font-size: 14px;
   	height: 29px;
   	padding: 5px; /* If you add too much padding here, the options won't show in IE */
   	width: 268px;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

select {
    color: white;
}

option {
    color: black;
}
/* Closing style */

/* Search style */
#searchbutton {
    background-color: #FD8907;
    border-color: #FD8907;
    margin-left: 10px;
}

#card{
    width: 600px;
    display: table;
  	margin-right: auto;
  	margin-left: auto;
}

#icons {    
    margin-top: 10px;
}

/* Closing style */

section {
    margin:10px 10px 10px 10px;
 	height:400px;
}

/* Newest_homes style */

.newest_homes {
	margin: 0;
	padding: 0;
	height:600px;
}

.newest_homes h3{
    font-family: 'Rubik', sans-serif !important;
	font-size: 40px;
	padding: 30px;
}

.newest_homes li {
 	display: inline-block;
	width:300px;
	height:350px;
	border-radius: 1px;
	border: 3px solid #bfbfbf;
	padding: 5px;
	margin: 5px;
}

.newest_homes ul {
 	overflow: auto;
 	white-space: nowrap;
  	margin-right: 45px;
 	margin-left: 45px;
}

.newest_homes img{
	width:90%;
	margin: 5px;
	height:150px;
}

.newest_homes .description_box{
	width:100%;
	height:160px;
	background-color:white;
	margin-bottom:5px;
}
/* Closing style */

/* Footer style */
.footer{
	background-color: #999999;
}
/* Closing style */

.section_info{
	height:400px;
	background-color: #fff0e6;
}